{
	"extends": [
		"airbnb",
		"airbnb/hooks",
		"plugin:@typescript-eslint/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		},
		"ecmaVersion": 2021,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint",
		"react"
	],
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-shadow": "off",
		"@typescript-eslint/no-unused-vars": "warn",
		"arrow-body-style": "off",
		"class-methods-use-this": "off",
		"comma-dangle": ["error", "always-multiline"],
    "jsx-quotes": [
			"error",
			"prefer-double"
		],
		"import/extensions": "off",
		"import/no-default-export": "error",
    "import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"**/*.test.*",
					"**/*.spec.*"
				]
			}
		],
		"import/no-unresolved": 0,
		"import/prefer-default-export": "off",
		"indent": "off",
		"linebreak-style": "off",
		"max-len": "off",
		"newline-per-chained-call": "off",
		"no-bitwise": "off",
		"no-console": "off",
		"no-continue": "off",
		"no-implicit-any-catch": "off",
		"no-nested-ternary": "off",
		"no-param-reassign": "off",
		"no-plusplus": "off",
		"no-restricted-syntax": "off",
		"no-shadow": "off",
		"no-unused-expressions": "warn",
		"no-unused-vars": "off",
		"no-var": "warn",
		"object-curly-newline": "off",
    "react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".ts",
					".tsx"
				]
			}
		],
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-props-no-spreading": "off",
		"react/jsx-uses-react": "off",
		"react/prop-types": 0,
		"react/react-in-jsx-scope": "off",
		"react/require-default-props": "off",
    "react/function-component-definition": "off",
    "quotes": [
			"error",
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		]
	}
}
