name: Changesets Version

on:
  workflow_dispatch:

jobs:
  version:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Install dependencies
        uses: ./.github/actions/pnpm-install
      
      - name: Create Version PR
        uses: changesets/action@v1
        with:
          version: pnpm release:version && pnpm release:build
          commit: 'chore: version packages'
          title: 'chore: version packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

